@charset "UTF-8";

body {
    background-color: rgb(154, 180, 184);
    text-align: center;
}
h1 {
    color: rgb(45, 151, 23); background-color: rgb(154, 185, 14);
}
h2 {
    color: rgb(69, 18, 151); font-size: large;
}
p {
    text-align: center; font-weight: bold;
}
p {
    color: rgb(0, 8, 0);
}